@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body, html{
    background-color: lightgrey;
}
header{
    background-color: gray;
}
header > h1{
    padding: 10px;
    text-align: center;
}
menu{
    display: block;
}
menu > ul{
    list-style-type: none;
}
menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(107, 106, 106);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(165, 164, 164);
}
menu a:hover{
    background-color: gray;
}
#burger{
    background-color: rgb(55, 55, 55);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#burger:hover{
    background-color: white;
    color: black;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}
article h2{
    padding-top: 20px;

}
article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}